*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 10px auto;
    background-color: black;
    padding: 10px;
    color: white;
    
}
.container{
    max-width: 1000px;
    margin: auto;
    /* background-color: red; */
}
.container table{
    width: 100%;
    padding: 10px;
    /* border-collapse: collapse; */
}
.container table th{
    background-color: black;
    color: white;

}

.container table tr,td{
    border: 1px solid black;
    padding: 10px;
    
}

.nav a{
    color: white;
    margin-right: 10px;
}
form{
    /* display: flex; */
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(225, 222, 222, 0.665);
    padding: 10px;
    /* background-color: red; */
    border: 1px solid black;
    width: 500px;
    display: none;
}
form div label{
   padding-left: 10px;
  
}
form input{
    width: 100%;
    height: 40px;
    /* border-radius: 10px; */
    margin-top: 10px;
    margin-bottom: 5px;
}
form select{
    padding-left: 10px;
    width: 100%;
    height: 40px;
    /* border-radius: 10px; */
    margin-top: 10px;
    margin-bottom: 5px;
}
form button{
  width: 100%;
  background-color: rgb(11, 67, 67);
  color: white;
  padding: 10px;
  outline: none;
  border: none;
}
form  h3{
    margin-top: 10px;
    font-size: 1.2rem;
    color: green;
}
.show{
    display: block;
}
.add{
    text-align: right;
    margin-right: 10px;
    display: inline-block;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    /* background-color: rebeccapurple; */
    text-align: right;

}
.add button{
    padding: 10px;
    width: 100px;
    background-color: rgb(71, 89, 255);
    border: 0;
    outline: 0;
    color: white;
}